﻿@model e_Commerce.Models.ProductModel

@{
    ViewData["Title"] = "Create";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Thêm sản phẩm</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thêm sản phẩm mới</h1>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Photos" class="control-label"></label>
                        <div class="custom-file">
                            <input multiple asp-for="Photos" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose File</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Materials" class="control-label"></label>
                        <input asp-for="Materials" class="form-control" />
                        <span asp-validation-for="Materials" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Color" class="control-label"></label>
                        <input asp-for="Color" class="form-control" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Size" class="control-label"></label>
                        <input asp-for="Size" class="form-control" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <label asp-for="SubCategoryID" class="control-label"></label>
                        <select asp-for="SubCategoryID" class="form-control" asp-items="ViewBag.SubCategoryID"></select>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Features" /> @Html.DisplayNameFor(model => model.Features)
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="padding-right: 0">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                            </label>
                        </div>
                    </div>
                </div>
                
                <input type="submit" value="Create" class="btn btn-default" />
            </form>
        </div>
    </div><!--/.row-->
</div><!--/.main--> 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('custom-file-label');
                    var files = $(this)[0].files;
                    if (files.lenght > 1) {
                        fileLabel.html(files.lenght + ' files selected');
                    }
                    else if (files.lenght == 1) {
                        fileLabel.html(files[0].name);
                    }
                });
            });
        </script>
}
