﻿@model IEnumerable<e_Commerce.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Danh sách sản phẩm</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách sản phẩm</h1>
        </div>
    </div><!--/.row-->
    <div class="container">
        <div style="width:90%; margin:0 auto;">
            <table id="categoriesDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Photos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreate)
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th>
                            Sửa
                        </th>
                        <th>
                            Xoá
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
            $(document).ready(function () {
                $("#categoriesDatatable").DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": "/api/ProductAPI/GetProducts",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { 'data': 'productID', "name": "ProductID", "autoWidth": true },
                        { 'data': 'photos', "name": "Photos", "autoWidth": true },
                        { 'data': 'price', "name": "Price", "autoWidth": true },
                        { 'data': 'dateCreate', "name": "DateCreate", "autoWidth": true },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return row.status == '1' ? "<a href='#' name='btn_update_stt' id=" + row.productID + " class='btn btn-danger' onclick=UpdateStatus('" + row.productID + "'); >Ẩn</a>" : "<a href='#' name='btn_update_stt' id=" + row.productID + " class='btn btn-danger' onclick=UpdateStatus('" + row.productID + "'); >Hiện</a>";
                            }
                        },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="Admin/Category/Edit/' + full.productID + '">Edit</a>'; }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.productID + "'); >Delete</a>";
                            }
                        },]
                });
            });
            function DeleteData(ProductID) {
                if (confirm("Are you sure you want to delete ...?")) {
                    Delete(ProductID);
                } else {
                    return false;
                }
            }
        function UpdateStatus(ProductID) {
                $.ajax({
                    method: "PUT",
                    url: "../api/ProductAPI/PutProductModel/" + ProductID,
                    contentType: 'application/json; charset=UTF-8',
                })
                    .done(function (msg) {
                        if (msg == '0') {
                            $.notify("Warning: Cập Nhật thất bại", "warn");
                        }
                        else {
                            var r = JSON.parse(msg)
                            if (r.stt == 'True') {
                                $('[id=' + r.id + ']').html('Ẩn');
                                $.notify("Cập Nhật Trạng Thái Thành Công", "success");

                            }
                            else {
                                $('[id=' + r.id + ']').html('Hiện');
                                $.notify("Cập Nhật Trạng Thái Thành", "success");
                            }

                        }
                    });
            }
        function Delete(ProductID) {
                $.ajax({
                method: "DELETE",
                    url: "../api/ProductAPI/DeleteProduct/" + ProductID,
            })
                    .done(function (msg) {
                        oTable = $('#categoriesDatatable').DataTable();
                        oTable.draw();
                });
        }
    </script>
}