﻿<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('~/wwwroot/asset_customer/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Contact
    </h2>
</section>