﻿<!DOCTYPE html>
<html lang="en">
<partial name="Head" />
<body class="animsition">
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <partial name="Script" />
    <partial name="Footer" />
</body>

</html>