﻿<html>
<partial name="Head" />
<body>
    <partial name="Navbar" />"
    <partial name="Menu" />"
    @RenderBody()
    <partial name="Script" />
    @RenderSection("Scripts", required: false)

</body>

</html>


