﻿<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tổng hợp</title>
    <title>Đăng nhập</title>
    <title>Thêm sản phẩm mới</title>
    <title>Widgets</title>
    <title>Danh sách sản phẩm</title>
    <link href="~/asset_admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/asset_admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/asset_admin/css/datepicker3.css" rel="stylesheet">
    <link href="~/asset_admin/css/styles.css" rel="stylesheet">
    <link href="~/asset_admin/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>