﻿<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">Username</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu" id="menu">
        <li class="active"><a href=""><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        <li><a href="" id="addcl"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li>
        <li id="addcl"><a href" id="addcl"><em class="fa fa-clone">&nbsp;</em> Thêm sản phẩm mới</a></li>
        <li class="parent " id="addcl">
            <a data-toggle="collapse" href="#sub-item-1">
                <em class="fa fa-users">&nbsp;</em> Quản lí <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="<">
                        <span class="fa fa-user">&nbsp;</span> Thành viên
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <span class="fa fa-file">&nbsp;</span> Đơn hàng
                    </a>
                </li>
                <li>
                    <a class="" href="">
                        <span class="fa fa-gift">&nbsp;</span> Danh sách sản phẩm
                    </a>
                </li>
            </ul>
        </li>
        <li><a href=""><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
    </ul>

</div>