﻿
<script src="~/asset_admin/js/jquery-1.11.1.min.js"></script>
<script src="~/asset_admin/js/bootstrap.min.js"></script>
<script src="~/asset_admin/js/chart.min.js"></script>
<script src="~/asset_admin/js/chart-data.js"></script>
<script src="~/asset_admin/js/easypiechart.js"></script>
<script src="~/asset_admin/js/easypiechart-data.js"></script>
<script src="~/asset_admin/js/bootstrap-datepicker.js"></script>
<script src="~/asset_admin/js/custom.js"></script>
<script src="~/asset_admin/datatable/js/datatable.jquery.min.js"></script>
<script src="~/asset_admin/datatable/js/datatable.min.js"></script>
<script src="~/asset_admin/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/asset_admin/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/asset_admin/js/notify.js"></script>
<script>
		window.onload = function () {
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
			responsive: true,
			scaleLineColor: "rgba(0,0,0,.2)",
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleFontColor: "#c5c7cc"
			});
		};
</script>
<script>
        $(window).load(function(){
            $('#menu li').click(function(){
                $('#menu li.active').removeClass('active');
                $(this).addClass('active');
            });
        });
</script>
<script>
		$("#hideShow").hide();
		$("#hide").hide();
		$("#hidsho").click(function(){
			$("#hideShow").toggle();
			$("#show").toggle();
			$("#hide").toggle();
		});
</script>