﻿@model IEnumerable<e_Commerce.Models.SubCategoryModel>

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Danh con sản phẩm</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách </h1>
        </div>
    </div><!--/.row-->
    <div class="container">
        <div style="width:90%; margin:0 auto;">
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SubCategoryID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th> Xoá</th>
                        <th>Edit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#table").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/api/SubCategoryAPI/GetSubCategories",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { 'data': 'subCategoryID', "name": "SubCategoryID", "autoWidth": true },
                    { 'data': 'name', "name": "Name", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return row.status == '1' ? "<a href='#' name='btn_update_stt' id=" + row.subCategoryID + " class='btn btn-danger' onclick=UpdateStatus('" + row.subCategoryID + "'); >Ẩn</a>" : "<a href='#' name='btn_update_stt' id=" + row.subCategoryID + " class='btn btn-danger' onclick=UpdateStatus('" + row.subCategoryID + "'); >Hiện</a>";
                        }
                    },
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="Admin/SubCategory/Edit/' + full.subCategoryID + '">Edit</a>'; }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.subCategoryID + "'); >Delete</a>";
                        }
                    },]
            });
        });
        function DeleteData(SubCategoryID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(SubCategoryID);
            } else {
                return false;
            }
        }
        function UpdateStatus(SubCategoryID) {
            $.ajax({
                method: "PUT",
                url: "../api/SubCategoryAPI/PutSubCategoryModel/" + SubCategoryID,
                contentType: 'application/json; charset=UTF-8',
            })
                .done(function (msg) {
                    if (msg == '0') {
                        $.notify("Warning: Cập Nhật thất bại", "warn");
                    }
                    else {
                        var r = JSON.parse(msg)
                        if (r.stt == 'True') {
                            $('[id=' + r.id + ']').html('Ẩn');
                            $.notify("Cập Nhật Trạng Thái Thành Công", "success");

                        }
                        else {
                            $('[id=' + r.id + ']').html('Hiện');
                            $.notify("Cập Nhật Trạng Thái Thành", "success");
                        }

                    }
                });
        }
        function Delete(SubCategoryID) {
            $.ajax({
                method: "DELETE",
                url: "../api/SubCategoryAPI/DeleteSubCategory/" + SubCategoryID,
            })
                .done(function (msg) {
                    oTable = $('#table').DataTable();
                    oTable.draw();
                });
        }
    </script>
}

